.main-container {
  display: grid;
  width: 100%;
  height: 90vh;
  grid-template-columns: 400px 1fr;
  padding-top: 100px;
  justify-content: center;
  text-align: center;
}

.aside-menu {
  background: #000000;
  border: 1px solid black;
  color: #ffffff;
  padding: 80px 40px;
}

.toggle {
  width: 235px;
  height: 27px;
  background-color: #ffffff;
  display: inline-block;
  padding-top: 8px;
  border-radius: 6px;
}

.patronise {
  color: #000000;
  background-color: transparent;
  padding: 4px 20px;
}

.bid {
  color: #ffffff;
  background: #a14807;
  padding: 4px 47px;
  border-radius: 3px;
}

.services {
  margin-top: 50px;
  text-align: left;
  padding-left: 40px;
}

.category {
  padding: 15px 0 25px;
}


.main {
  background: #e5e5e5;
  border: 1px solid black;
  color: #ffffff;
  padding-top: 80px;
}

#request {
  padding: 12px 1000px 12px 15px;
  border-radius: 8px;
  outline: none;
  border: 0;
}
